*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

body {
  font-family: Prompt;
  font-size: 16px;
  font-weight: 400;
}

[class*="__container"] {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 15px;
}

[class*="title"] {
  font-family: Montserrat;
  font-size: 36px;
}

.button {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #6d31d0;
  padding: 15px 24px;
  border: 1px solid #ffdb80;
  border-radius: 30px;
  background-color: #ffdb80;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  border: 1px solid #ffdb80;
  background: linear-gradient(#6d31d0, #ab80ef);
  color: #ffeb80;
}

/* ------------------header--------------------- */

.header {
  width: 100%;
  min-height: 60px;
  background-image: linear-gradient(#6d31d0, #53269d);
  /* background-color: #6d31d0; */
  margin: 0;
  padding: 20px 100px 20px 130px;
}

.header__container {
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;
  margin: 0 auto;
}

.header__logo {
  position: relative;
  /* z-index: 5; */
}

.header__menu {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: center;
}

/* .menu__body {
} */

.menu__list {
  display: flex;
}

.menu__item {
  /* margin: 0px 14px 0px 0px; */
  padding: 9px 14px;
  position: relative;
}

.menu__item:hover .dropdown-content {
  display: block;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: 1px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px 0;
}

.dropdown-content a {
  color: #434364;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.header__button .button {
  /* display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #6d31d0;
  padding: 15px 24px;
  border-radius: 30px;
  border: 1px solid #ffdb80;
  background: #ffdb80;
  transition: 0.3s ease 0s; */
}

/* .header__button .button:hover {
  border: 1px solid #ffdb80;
  background: linear-gradient(#6d31d0, #ab80ef);
  color: #ffeb80;
} */

.burger {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 20;
}

.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* -------------slider------------------- */

.hero-slider {
  /* width: 100vw; */
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.hero-slider .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 120px;
}

.hero-slider .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  /* z-index: 1; */
}

.hero-content {
  position: relative;
  /* z-index: 2; */
  max-width: 600px;
  padding-left: 80px;
}

.hero-content h1 {
  font-weight: 600;
  line-height: 1.1;
}

.hero-content h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}

.hero-content p {
  font-family: Prompt;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 20px;
}

.slide-1 .hero-content {
  position: relative;
  /* z-index: 2; */
  max-width: 600px;
  margin: 0px 0px 180px 80px;
  padding: 0;
}

.hero-slider .slide-1 {
  background-image: url("../img/picture_home1.png");
}

.hero-slider .slide-2 {
  background-image: url("../img/002.png");
}
.hero-slider .slide-3 {
  background-image: url("../img/3.png");
}

.hero-slider .slide-4 {
  background-image: url("../img/4.png");
}

.hero-slider .slide-5 {
  background-image: url("../img/5.png");
}

.hero-slider .slide-6 {
  background-image: url("../img/6.png");
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* z-index: 1; */
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  display: flex;
  box-sizing: content-box;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.3s;
}

.hero-tags {
  display: flex;
  margin-bottom: 20px;
}

.diviber {
  width: 1px;
  /* height: 28px; */
  background-color: #fff;
  opacity: 0.5;
  margin: 0px 10px;
}

.hero-tags span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffdb80;
  background-color: rgba(109, 49, 208, 0.5);
  padding: 6px 14px;
  border-radius: 20px;
  /* margin-right: 10px; */
}

/* .title {
}

.subtext {
} */

.hero-content .button {
  position: relative;
  /* font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 30px; */
  background-image: linear-gradient(90deg, #ffdb80 30%, #fdbfa3 90%);
  /* color: #6d31d0;
  text-decoration: none;
  transition: background-image 0.3s ease 0s; */
  margin: 0px 0 50px;
}

.hero-content .button:hover {
  background-image: linear-gradient(90deg, #6d31d0 30%, #ab80ef 90%);
}

.popular-cities {
  position: absolute;
  bottom: 40px;
  left: 120px;
  /* z-index: 2; */
  color: #ffffff;
  padding-left: 80px;
}

.popular-cities h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.city-card__container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 0;
}

.city-card {
  width: 144px;
  height: 180px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.5);
}

.city-card img {
  /* width: 100px;
  height: 100%; */
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 7.5px 47px;
}

.city-card h4 {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 20px;
  color: #828cde;
  /* z-index: 2; */
}

.hero-slider .swiper-pagination {
  position: absolute !important;
  top: 30% !important;
  right: 30px !important;

  left: auto !important;
  transform: translateY(0%) !important;

  display: flex !important;
  flex-direction: column !important;
  gap: 12px;
  /* justify-content: center;
  align-items: center; */

  width: auto !important;
  height: auto !important;
  padding: 0;
  margin: 0;
}

.hero-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 10px 0 !important;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s;
}

.hero-slider .swiper-pagination-bullet-active {
  background: #ffffff;
  width: 12px;
  height: 12px;
}

/* -------servises---------------- */

.servises {
  padding: 80px 0px 80px 0px;
  background-image: linear-gradient(#828cde, #6d31d0);
}

/* .servises__container {
} */

.servises__block-text {
  display: block;
  text-align: center;
  align-items: center;
}

.servises__block-text .title {
  font-weight: 600;
  color: #fff;
}

.line {
  display: inline-block;
  border: 4px solid #fdbfa3;
  width: 380px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.servises__items {
  display: flex;
  margin: 0px auto;
  gap: 20px;
}

.servises__column {
  margin-top: 60px;
  position: relative;
  /* padding: 0px 20px; */
  flex: 0 1 33.333%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
}

/* .servises__column_1 {
} */
/* 
.servises__item {
} */

.item-servises {
  height: 525px;
  width: 100%;
  position: relative;
  /* z-index: 2; */
  background: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-servises__pic img {
  height: 260px;
  border-radius: 20px;
  height: 100%;
}

.item-servises__info {
  font-family: Prompt;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  color: #434364;
  width: 320px;
  margin-bottom: 20px;
}

.item-servises__text {
  height: 63px;
  font-family: Prompt;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #434364;
  margin: 20px 0px 20px;
}

.item-servises .button {
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ffdb80 30%, #fdbfa3 90%);
  transition: all 0.3s ease 0s;
}

.item-servises .button:hover {
  background-image: linear-gradient(90deg, #6d31d0 30%, #ab80ef 90%);
}

/* ------------moving------------- */

.moving {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}

.moving__container {
  max-width: 680px;
  margin: 0px auto;
  text-align: center;
  z-index: 2;
  position: relative;
}

.moving__block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;

  text-align: center;
  align-items: center;
}

.moving__block-text h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #434364;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.moving__block-text p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #434364;
  margin-bottom: 22px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.moving .button {
  display: inline-block;
  margin-top: 20px;
  background: linear-gradient(90deg, #ffd77c, #f7b75f);
  color: #6d31d0;
  padding: 16px 40px;
  border-radius: 40px;
  border: 1px solid #ffdb80;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s;
  box-shadow: 0 4px 20px rgba(247, 183, 95, 0.3);
}

.moving .button:hover {
  background: linear-gradient(90deg, #6d31d0, #ab80ef);
  color: #ffdb80;
  box-shadow: 0 6px 24px rgba(253, 191, 163, 0.4);
}

.moving__pic {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.moving__pic img:first-child {
  width: 410px;
  height: auto;
  object-fit: cover;
  filter: brightness(0.85);
  position: relative;
}

.moving__pic img:first-child::after {
  content: "";
}

.moving__pic img:last-child {
  width: 410px;
  height: auto;
  object-fit: cover;
  filter: brightness(0.85);
}

.moving__pic img:first-child {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.15));
}

.moving__pic img:last-child {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.15));
}

/* ------------media-------------- */
@media (max-width: 1000px) {
  .header {
    padding: 20px 100px;
  }

  .header__container {
    /* flex-direction: column; */
    gap: 15px;
  }

  .menu__body {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    background-color: #6d31d0;
    display: none;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    z-index: 15;
  }

  .menu__body.active {
    display: flex;
    margin: 20px 100px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .burger {
    display: flex;
    z-index: 30;
  }

  .dropdown-content {
    display: none;
  }

  .hero-slider .swiper-slide {
    padding: 0 60px;
  }

  .slide-1 .hero-content {
    margin: 0px 0px 120px 60px;
  }

  .popular-cities {
    left: 60px;
    padding-left: 60px;
  }

  .menu__item.has-dropdown > .menu__link::after {
    display: none;
  }
  .menu__item.open > .menu__link::after {
    transform: rotate(-180deg);
  }

  .hero-slider .swiper-pagination {
    padding: 0px 50px;
  }

  .servises__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .moving {
    padding: 60px 0;
  }

  .moving__pic {
    /* position: absolute;
    transform: none; */
    width: 100%;
    height: auto;
    padding: 0;
    margin: 40px 0 10px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .moving__pic img {
    width: 240px !important;
    height: 290px !important;
    object-fit: cover;
    mask-image: none !important;
    filter: none !important;
  }

  .moving__container {
    max-width: 90%;
    text-align: center;
  }

  .moving__block-text {
    align-items: center;
  }

  .moving__block-text h2 {
    font-size: 36px;
    text-align: center;
  }

  .moving__block-text p {
  }

  .moving .button {
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0px 20px;
  }

  .header__container {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    justify-content: flex-start;
  }

  .hero-slider .swiper-slide {
    padding: 0 20px;
  }

  .hero-content {
    padding-left: 20px;
  }

  .hero-tags {
    flex-wrap: wrap;
  }

  .popular-cities {
    left: 20px;
    padding-left: 20px;
  }

  .city-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .city-card__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .swiper-pagination {
    padding: 20px;
  }

  .servises__items {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .moving__pic {
    flex-direction: column;
    gap: 20px;
  }

  .moving__pic img {
    width: 100%;
  }

  .moving__container {
    text-align: center;
  }

  .moving__block-text h2 {
    text-align: center;
    font-size: 28px;
  }

  .moving .button {
    margin: 0 auto;
    margin-top: 20px;
  }
}
